body{
	font-family:"Arial";
	color:#111010;
}
.uc{
	text-transform:uppercase !important;
}
#header{
	text-align:center;
}
#header img{
	margin-top:18.5px;
	margin-bottom:16px;
}
#header h1{
	font-size:29.72px;
	margin:0;
	padding:0;
	color:#0101fe;
	text-transform:uppercase;
	font-family:"Times New Roman";
}
#header h1>span{
	font-size:23.78px;
}
#contacts{
	font-style:italic;
	font-size:12px;
}
#top-nav{
	background-color:#f7f7f7;
	margin-top:10px;
	
}
#top-nav a{
	color:#737373;
	font-size:12px;
	text-transform:uppercase;
}
#top-nav ul{
	display:block;
	list-style:none;
	padding:0;
	margin:0;
	text-align:center;
}
#top-nav ul li{
	padding:5px 0px;
	display:inline-block;
	text-transform:uppercase;
	color:#282727;
	width: 150px;
}
#top-nav ul li.active{
	background-color:#e1e1e1;
}
#top-nav ul li.active a{
	color:#111010;
}
#social-media{
	padding-top:50px;
	padding-bottom:50px;
}
#social-media div{
	margin-bottom:10px;
	font-size:14px;
	text-transform:uppercase;
}
#footer-links{
	background-color:#f7f7f7;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
#footer-links>div{
	font-size:20px;
	padding:5px;
	text-transform:uppercase;
	font-family:"Times New Roman";
}
#footer-links>div span{
	font-size:18px;
}
#footer-links p{
	font-size:11.28px;
	font-family:"Lucida Handwriting";
}
#footer-nav ul{
	display:block;
	list-style:none;
	margin:0;
	padding:0;
}
#footer-nav ul li{
	font-size:12px;
	display:block;
	text-transform:uppercase;
	padding:4px;
}
#footer-nav ul li a{
	color:#111010;
}
#annotation{
	background-color:#121212;
}
#annotation div{
	font-size:11.23px;
	color:white;
	padding: 0 2rem;
}